.header-second {
  display: flex;
  justify-content: space-between;
  margin-left: 76px; }

.closebtn {
  display: none;
  z-index: 500;
  margin-top: 14px !important; }

#home-overlay-list {
  margin-top: 20px !important; }

#article-burger-btn {
  display: none;
  margin: 10px auto; }

.overlay {
  width: 0;
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  overflow-x: hidden;
  height: 100%;
  transition: 0.5s;
  background-color: #fff; }

.main-header-right {
  margin-top: 20px; }
  .main-header-right-first {
    display: flex; }
    .main-header-right-first .main-icons-item {
      margin-right: 10px; }
    .main-header-right-first .main-info {
      margin-left: 25px;
      display: flex; }
    .main-header-right-first .main-header-email {
      padding: 0 21px;
      margin-left: 41px;
      text-decoration: none;
      color: #000000; }
      .main-header-right-first .main-header-email:hover {
        color: #DAB045; }
    .main-header-right-first .main-header-phone {
      text-decoration: none;
      color: #000000; }
      .main-header-right-first .main-header-phone:hover {
        color: #DAB045; }
    .main-header-right-first .main-lang {
      display: flex;
      list-style: none;
      margin-left: 41px; }
    .main-header-right-first .main-lang-item {
      padding: 0 3px;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #272626; }
      .main-header-right-first .main-lang-item a {
        color: #272626;
        text-decoration: none; }
      .main-header-right-first .main-lang-item.current-lang a {
        color: #DAB045; }
    .main-header-right-first .main-lang-item:hover {
      color: #DAB045; }
      .main-header-right-first .main-lang-item:hover a {
        color: #DAB045; }
  .main-header-right .main-header-right-second {
    margin-top: 20px; }
  .main-header-right .main-nav-list {
    list-style: none;
    display: flex; }
  .main-header-right .main-nav-list-item {
    text-transform: uppercase;
    padding: 0 15px;
    line-height: 48px;
    border-bottom: 2px solid rgba(218, 176, 69, 0); }
    .main-header-right .main-nav-list-item:hover {
      border-bottom: 2px solid #DAB045; }
  .main-header-right .main-nav-list-link,
  .main-header-right .main-nav-list-item a {
    text-decoration: none;
    color: #000;
    font-size: 15px; }
  .main-header-right .main-nav-list-item:hover a {
    color: #DAB045; }

.main-header-left {
  margin-top: 27px;
  display: flex;
  align-items: flex-start;
  margin-right: 76px; }
  .main-header-left .main-header-left-online {
    outline: none;
    margin-right: 30px;
    padding: 15px 22px;
    border: none;
    border: 1px solid #DAB045;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #DAB045;
    background: transparent;
    border-radius: 200px;
    display: inline-block;
    text-decoration: none; }
    .main-header-left .main-header-left-online svg {
      margin-top: 0px;
      margin-bottom: -3px;
      margin-right: 8px; }
  .main-header-left .main-header-left-online:hover {
    background-color: #C19332;
    color: #fff; }
  .main-header-left .main-header-left-donation {
    outline: none;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(97.64deg, #C19332 7.65%, #DAB045 86.12%);
    border-radius: 40px;
    padding: 15px 77px;
    border: none;
    margin-right: 76px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    display: inline-block;
    text-decoration: none; }
  .main-header-left .main-header-left-donation:hover {
    background: #C1922E; }

.header-line {
  max-width: 1777px;
  width: 100%;
  margin: 150px auto;
  height: 1px;
  border: none; }

.article-content {
  max-width: 875px;
  margin: 100px auto 0 auto; }
  .article-content .article-subtitle {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #627C9F;
    padding-top: 48px; }
  .article-content .article-title {
    font-weight: bold;
    font-size: 32px;
    padding-top: 24px;
    line-height: 48px;
    text-align: center;
    color: #000000;
    margin-bottom: 48px; }
  .article-content .article-first-par {
    margin-top: 48px; }
  .article-content .article-sec-par {
    margin-top: 28px;
    padding-bottom: 30px; }
  .article-content .article-first-par,
  .article-content .article-sec-par,
  .article-content .article-third-par,
  .article-content .article-forth-part {
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #2E2E2E; }
  .article-content .article-photo {
    width: 100%;
    max-width: 915px;
    padding: 20px 0; }
  .article-content figcaption {
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    color: #828282; }
  .article-content .article-middle-line {
    height: 1px;
    background-color: #E0E0E0;
    border: none; }
  .article-content .article-quotes {
    padding: 26px 0; }
  .article-content .article-third-par {
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
    padding-bottom: 20px; }
  .article-content .article-subtitle2 {
    padding: 30px 0 20px 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: capitalize;
    color: #000000; }
  .article-content .article-forth-part {
    margin-bottom: 24px; }
  .article-content .share-article {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #828282;
    padding-top: 64px;
    padding-bottom: 24px; }
  .article-content .article-social-item {
    padding: 18px;
    border: 1px solid #E0E0E0; }
  .article-content .article-socials {
    display: inline-block;
    margin-left: 38%; }

.overlay-navigation {
  margin-top: 100px; }

.overlay-navigation-item {
  margin: 0 auto;
  width: 100%;
  height: 51px;
  text-align: center; }

@media (max-width: 757px) {
  .donation-overlay {
    order: 1; } }

.overlay-navigation-item a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 15px;
  line-height: 70px; }

.overlay-tel,
.overlay-email {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  display: block; }

.ovarlay-lang {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin-top: 20px; }

.overlay-lang-item {
  padding: 0 15px; }
  .overlay-lang-item a {
    color: #000000;
    text-decoration: none; }

.overlay-lang-item:hover {
  color: #DAB045; }
  .overlay-lang-item:hover a {
    color: #DAB045; }

.overlay-icons {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center; }

.overlay-icons img {
  padding: 0 15px; }

@media (max-width: 900px) {
  .article-content .article-first-par,
  .article-content .article-sec-par,
  .article-content .article-third-par,
  .article-content .article-forth-par {
    padding: 0 20px;
    font-size: 17px; }
  .article-content .article-forth-part {
    padding: 0 20px;
    font-size: 17px; }
  .article-content .article-subtitle2 {
    padding: 30px 0 20px 20px; }
  .article-content .article-quotes {
    padding: 26px 20px; } }

@media (max-width: 780px) {
  .article-content .article-socials {
    margin-left: 36%; } }

@media (max-width: 1594px) {
  .main-header-left .main-header-left-donation {
    padding: 15px 55px !important; } }

@media (max-width: 1525px) {
  .main-header-right .main-nav-list-link, .main-header-right .main-nav-list-item a {
    font-size: 14px; } }

@media (max-width: 1550px) {
  .header-second {
    margin-left: 30px !important; }
  .main-header-left .main-header-left-donation {
    margin-right: 30px !important; } }

@media (max-width: 1459px) {
  .map {
    width: 100%; }
  .main-header-left .main-header-left-donation {
    margin-right: 30px; }
  .header-second {
    margin-left: 30px; }
  .map-container-info {
    left: 30px; }
  .bus-schedule .bus-schedule-container .bus-schedule-left {
    margin-left: 30px !important; }
  .bus-schedule .bus-schedule-container .bus-schedule-right {
    margin-right: 30px; } }

@media (max-width: 712px) {
  .article-content .article-socials {
    margin-left: 34%; } }

@media (max-width: 1600px) {
  .main-header-left .main-header-left-donation {
    padding: 15px 77px; }
  .main-header-left .main-header-left-online {
    margin-right: 20px; }
  .main-header-right .main-nav-list-item {
    padding: 0 8px !important; } }

@media (max-width: 1548px) {
  .main-header-left .main-header-left-online {
    padding: 15px 9px; }
  .main-header-left .main-header-left-donation {
    padding: 15px 57px; } }

@media (max-width: 576px) {
  .article-content .article-socials {
    margin-left: 30%; } }

@media (max-width: 434px) {
  .article-content .article-socials {
    margin-left: 25%; } }

@media (max-width: 370px) {
  .article-content .article-socials {
    margin-left: 19%; } }

.article__content {
  padding: 0 15px; }
  .article__content h1 {
    font-size: 32px; }
  .article__content h2 {
    font-size: 28px; }
  .article__content h3 {
    font-size: 24px; }
  .article__content h4 {
    font-size: 18px; }
  .article__content p {
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #2E2E2E;
    margin-bottom: 15px; }
  .article__content blockquote {
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    padding-top: 25px;
    font-style: italic;
    font-weight: 600;
    position: relative; }
    .article__content blockquote::before {
      content: '';
      display: block;
      width: 27px;
      height: 22px;
      background-image: url(../img/icons/quotes.svg);
      background-repeat: no-repeat;
      margin-bottom: 25px; }
    .article__content blockquote p {
      font-weight: 600;
      font-family: "OSB"; }
  .article__content ul,
  .article__content ol {
    margin-left: 20px;
    margin-bottom: 15px; }

.articles-archive__wrapper {
  min-height: calc(100vh - 262px); }

.articles-archive__title {
  font-weight: 800;
  font-size: 48px;
  font-family: "Open Sans Bold";
  padding-top: 24px;
  margin-bottom: 26px;
  line-height: 64px;
  text-align: center;
  color: #333333; }
