#burg-icon {
  display: none; }

#burg-icon {
  width: 27px;
  font-size: 40px;
  cursor: pointer; }
  #burg-icon #imgplus {
    margin-left: 1px;
    margin-top: 40px; }

.overlay1 {
  display: none; }

#burg-close1 {
  color: #000;
  font-size: 40px;
  font-weight: 800; }

.burger-online {
  margin-right: 10px; }

#map-burg-btn {
  display: block;
  margin: 0 auto; }

.main-header-left {
  margin-top: 36px; }

.closebtn {
  display: none;
  font-size: 50px;
  margin-left: 1px;
  margin-top: 10px; }

@media (max-width: 1750px) {
  .main-header-right .main-nav-list-item {
    padding: 0 10px; } }

@media (max-width: 1453px) {
  .header-second {
    margin-left: 35px; } }

@media (min-width: 1420px) {
  #burg-icon {
    display: none !important; } }

@media (max-width: 1565px) {
  .header-left .header-button-online {
    margin-right: 5px; }
  .header-left .header-button-online {
    margin-right: 5px; } }

@media (max-width: 1512px) {
  .main-header-right .main-nav-list-link, .main-header-right .main-nav-list-item a {
    font-size: 14px; } }

@media (max-width: 1549px) {
  .main-header-right .main-nav-list-item {
    padding: 0 8px; } }

@media (max-width: 1516px) {
  .header-left .donation {
    padding: 13px 58px; } }

@media (max-width: 1423px) {
  .header-right .home-navigation .home-navigation-item {
    font-size: 14px; } }

@media (max-width: 1603px) {
  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    left: 97% !important; }
  .location {
    right: 30px; }
  .history-left .history-img1 {
    left: 30px; }
  .schedule-part-left {
    margin-left: 0px; }
  footer .footer .footer-links {
    margin-left: 30px; }
  .footer-third {
    margin-right: 30px !important; }
  .articles-tab-container, .gallery-tab-container, .video-tab-container {
    margin-top: 143px;
    margin-left: 30px;
    width: 90%; }
  .show-all {
    margin-right: 30px; }
  .header-left .donation {
    margin-right: 30px; }
  .gallery-thumbs {
    margin-left: 30px !important; }
  .header-right {
    margin-left: 30px !important; }
  .slider-subtitle {
    padding-left: 30px !important; }
  .slider-title {
    padding-left: 30px !important; } }

@media (max-width: 1521px) {
  .header-right {
    margin-left: 30px; }
  .slider-subtitle {
    padding-left: 30px; }
  .slider-title {
    padding-left: 30px; } }

@media (max-width: 1435px) {
  .main-header-left {
    margin-bottom: 10px; } }

@media (max-width: 1385px) {
  .header-second {
    margin-left: 30px !important; }
  .main-header-left .main-header-left-donation {
    padding: 15px 45px !important; }
  .main-header-right .main-nav-list-item {
    padding: 0 7px !important; }
  .main-header-left .main-header-left-online {
    margin-right: 14px; } }

@media (max-width: 640px) {
  .map-photo {
    display: none; }
  .open-maps {
    left: 35%; } }

@media (max-width: 514px) {
  .open-maps {
    left: 30%; } }

@media (max-width: 437px) {
  .open-maps {
    left: 28%; } }

@media (max-width: 411px) {
  .open-maps {
    left: 25%; } }

@media (max-width: 352px) {
  .open-maps {
    left: 20%; } }

@media (max-width: 940px) {
  .map {
    margin-left: 30px;
    width: 94%; }
  .contact-second {
    margin-left: 30px;
    width: 94%;
    margin-right: 30px; }
  .main-header-left .main-header-left-donation {
    margin-right: 6px; } }

@media (max-width: 932px) {
  .map {
    width: 94% !important; }
  .main-header-left .main-header-left-donation {
    margin-right: 30px; } }

@media (max-width: 1339px) {
  .main-header-right {
    display: none; }
  #burg-icon {
    display: block; } }

@media (max-width: 1483px) {
  .map {
    margin-right: 30px;
    width: 96%; } }

@media (max-width: 1619px) and (min-width: 1600px) {
  .main-header-left .main-header-left-donation {
    padding: 15px 67px; } }

@media (max-width: 1636px) and (min-width: 1549px) {
  .main-header-left .main-header-left-online {
    padding: 15px; } }

@media (max-width: 1335px) {
  .main-header-left .main-header-left-online {
    padding: 15px 22px;
    margin-right: 40px; }
  .main-header-left .main-header-left-donation {
    padding: 15px 77px; }
  #burg-icon #imgplus {
    margin-left: 1px;
    margin-top: 51px; } }

@media (max-width: 667px) {
  .main-header-left .main-header-left-online svg {
    margin-right: 0px !important; }
  .main-header-left .main-header-left-online {
    font-size: 0;
    margin-right: 30px; }
    .main-header-left .main-header-left-online .main-header-left .main-header-left-online {
      font-size: 0;
      margin-right: 10px !important;
      padding-top: 19px;
      padding-bottom: 8px !important; }
    .main-header-left .main-header-left-online .main-header-left .main-header-left-online img {
      padding-bottom: -8px; }
  .main-header-left .main-header-left-donation {
    margin-right: 0px; }
  .main-header-left .main-header-left-donation {
    padding: 20px 68px !important; }
  .main-header-left .main-header-left-online img {
    margin-top: 0px;
    margin-bottom: -8px;
    margin-right: -2px; } }

@media (max-width: 418px) {
  .main-header-left .main-header-left-online {
    font-size: 0;
    margin-right: 20px !important; }
  .main-header-left .main-header-left-donation {
    padding: 18px 55px !important; } }

@media (max-width: 369px) {
  .main-header-left .main-header-left-donation {
    padding: 18px 46px !important; }
  .main-header-left .main-header-left-online {
    font-size: 0;
    margin-right: 10px !important;
    padding-top: 19px;
    padding-bottom: 10px; }
  .main-header-left .main-header-left-online img {
    padding-bottom: -8px; } }

@media (max-width: 540px) {
  #small-online {
    display: block;
    margin-top: -8px;
    margin-right: 15px; } }

.home-burger {
  display: none; }

.overlay-home {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 50000;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s; }

.overlay-content {
  position: relative;
  top: 2%;
  width: 100%;
  text-align: center;
  margin-top: 2px; }

.overlay-btn {
  display: flex;
  justify-content: center; }

.burger-online-btn {
  font-weight: 600;
  font-family: 'OSB';
  font-size: 16px;
  padding: 14px 32.4px;
  border-radius: 200px;
  line-height: 24px;
  color: #DAB045;
  background: transparent;
  border: none;
  text-align: center;
  border: 1px solid #C19332;
  text-decoration: none; }

.overlay-home .closebtn {
  position: absolute;
  top: 10px;
  display: block;
  transition: 0.3s;
  left: 45px;
  z-index: 1000;
  color: #000;
  font-size: 53px; }

@media screen and (max-height: 450px) {
  .overlay-home a {
    font-size: 20px; }
  .overlay-home .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px; } }

@media (min-width: 1500px) and (max-width: 1900px) {
  .location {
    margin-top: -180px !important; } }

@media (max-width: 1920px) {
  .slider-subtitle {
    padding-top: 187px; } }

@media (max-width: 1488px) and (min-width: 1440px) {
  .header-right .home-navigation .home-navigation-item {
    padding: 10px 6px !important; } }

@media (max-width: 1478px) {
  .header-right .home-navigation .home-navigation-item {
    padding: 10px 6px; } }

@media (max-width: 1438px) and (min-width: 1420px) {
  .header-right .home-navigation .home-navigation-item {
    padding: 10px 6px !important; }
  .header-right .home-navigation .home-navigation-item:first-child {
    padding-left: 0px !important; } }

@media (max-width: 1407px) {
  .header-left .donation {
    padding: 13px 54px !important; } }

@media (max-width: 1442px) {
  .header-right {
    margin-left: 15px; }
  .header-left .donation {
    padding: 13px 58px; } }

@media (max-width: 1422px) {
  .header-left .donation {
    padding: 13px 52px; }
  .header-right .home-navigation .home-navigation-item {
    padding: 10px 9px !important; }
  .header-right .home-navigation .home-navigation-item:first-child {
    padding-left: 0px !important; } }

@media (max-width: 1396px) {
  .header-left .header-button-online {
    padding: 14px 11.4px !important; } }

@media (max-width: 1383px) {
  .header-left .donation {
    padding: 13px 42px !important; } }

@media (max-width: 1422px) and (min-width: 1366px) {
  .header-right .home-navigation .home-navigation-item {
    font-size: 14px; } }

@media (max-width: 1417px) {
  .header-right-lang .header-right-lang-item {
    padding: 0 5px; } }

@media (max-width: 1371px) {
  .header-right {
    margin-left: 16px; }
  .header-right .home-navigation .home-navigation-item {
    padding: 10px 7px; } }

@media (max-width: 1406px) {
  .header-right {
    margin-left: 30px; } }

@media (max-width: 1406px) {
  .slider-subtitle {
    padding-left: 30px; }
  .slider-title {
    padding-left: 30px; }
  .header-right .home-navigation .home-navigation-item {
    padding: 10px 7px; }
  .header-left .header-button-online {
    padding: 14px 17.4px; } }

@media (max-width: 1721px) {
  .header-right .home-navigation .home-navigation-item {
    padding: 10px 11px; } }

@media (max-width: 1664px) {
  .header-left .header-button-online {
    margin-right: 10px; } }

@media (max-width: 1371px) {
  .header-right {
    margin-left: 16px; } }

@media (max-width: 1366px) {
  .header-right {
    display: none; }
  .header-left .donation {
    padding: 15px 77px !important; }
  .home-burger {
    display: block;
    margin-left: 30px; }
  .header-left .header-button-online {
    margin-right: 40px;
    padding: 15px 24px !important; } }

@media (max-width: 1298px) {
  .header-right {
    margin-left: 13px; }
  .header-right .home-navigation .home-navigation-item {
    padding: 10px 6px; } }

@media (max-width: 1239px) {
  .header-right {
    display: none; }
  .home-burger {
    display: block;
    margin-left: 30px; } }

@media (max-width: 812px) {
  .home-burger {
    margin-top: 30px; } }

@media (max-width: 624px) {
  .header-left .header-button-online {
    font-size: 0%;
    height: 54px; }
  .header-left .online-img {
    margin-right: -5px; } }

@media (max-width: 415px) {
  .header-left .donation {
    padding: 15px 49px !important; } }

@media (max-width: 350px) {
  .header-left .donation {
    padding: 15px 40px !important; } }

@media (max-width: 475px) {
  .header-left .header-button-online {
    margin-right: 15px; } }

@media (max-width: 838px) {
  .home-location {
    display: none; } }

@media (max-width: 761px) {
  .slider-subtitle {
    padding-top: 211px; } }

@media (max-width: 532px) {
  .header-left .header-button-online {
    font-size: 0px; }
  .header-left .header-button-online {
    padding: 10px 13px;
    padding-bottom: 4px; }
  .header-left .header-button-online span img {
    margin-right: 0px;
    margin-bottom: -2px; } }

@media (max-width: 340px) {
  .main-header-left .main-header-left-donation {
    padding: 18px 37px !important; } }

@media (max-width: 337px) {
  .home-burger {
    margin-left: 30px !important; }
  .overlay-home .closebtn {
    left: 20px; } }

@media (max-height: 631px) {
  .slider-subtitle {
    margin-bottom: 3px; } }

@media (max-height: 667px) {
  .slider-subtitle {
    margin-bottom: 3px; }
  .slider-subtitle {
    padding-top: 110px !important; } }

@media (max-width: 329px) {
  .header-left .header-button-online {
    margin-right: 10px; } }

@media (max-height: 912px) {
  .location {
    right: 20px; } }

@media (max-height: 852px) and (max-width: 1366px) {
  .gallery-thumbs {
    margin-top: -114px; } }

@media (max-width: 878px) {
  .location {
    left: 30px;
    bottom: 146px; } }

@media (max-height: 673px) {
  .overlay-navigation-item {
    height: 48px !important; }
  .overlay-tel, .overlay-email {
    font-size: 15px; } }

@media (max-height: 569px) {
  .overlay-content {
    top: 0%; }
  .overlay-icons {
    margin-top: 5px; }
  .overlay-tel, .overlay-email {
    margin-top: 11px;
    font-size: 15px; }
  .ovarlay-lang {
    margin-top: 10px; }
  .slider-subtitle {
    padding-top: 64px !important;
    margin-bottom: 0px !important; } }

@media (max-height: 1587px) {
  .articles-tab-container, .gallery-tab-container, .video-tab-container {
    width: 96%; }
  .articles-tab-item, .video-tab-item, .gallery-tab-item {
    width: 287px; } }

@media (max-height: 1557px) {
  .articles-tab-container, .gallery-tab-container, .video-tab-container {
    padding-left: 30px; } }

@media (max-height: 1530px) {
  .articles-tab-container, .gallery-tab-container, .video-tab-container {
    padding-left: 20px; } }

@media (max-height: 1510px) {
  .articles-tab-container, .gallery-tab-container, .video-tab-container {
    padding-left: 0px; } }

@media (max-height: 1500px) {
  .articles-tab-item, .video-tab-item, .gallery-tab-item {
    width: 285px; } }

@media (max-height: 1478px) {
  .articles-tab-item, .video-tab-item, .gallery-tab-item {
    width: 283px; } }

@media (max-height: 1473px) {
  .articles-tab-item, .video-tab-item, .gallery-tab-item {
    width: 281px; } }

@media (max-height: 1473px) {
  .articles-tab-item, .video-tab-item, .gallery-tab-item {
    width: 279px; } }

@media (max-height: 1458px) {
  .articles-tab-item, .video-tab-item, .gallery-tab-item {
    width: 278px; } }

@media (max-height: 1446px) {
  .articles-tab-item, .video-tab-item, .gallery-tab-item {
    width: 276px; } }

@media (max-height: 1431px) {
  .articles-tab-item, .video-tab-item, .gallery-tab-item {
    width: 274px; } }

@media (max-height: 1431px) {
  .articles-tab-item, .video-tab-item, .gallery-tab-item {
    width: 271px; } }

@media (max-height: 1407px) {
  .articles-tab-item, .video-tab-item, .gallery-tab-item {
    width: 268px; } }

@media (max-height: 1392px) {
  .articles-tab-item, .video-tab-item, .gallery-tab-item {
    padding: 0 16px; }
  .articles-tab-item, .video-tab-item, .gallery-tab-item {
    width: 265px; } }

@media (max-width: 1377px) {
  .articles-tab-item, .video-tab-item, .gallery-tab-item {
    width: 262px; } }

@media (max-width: 1360px) {
  .articles-tab-item, .video-tab-item, .gallery-tab-item {
    width: 258px; } }

@media (max-width: 1338px) {
  .articles-tab-container, .gallery-tab-container, .video-tab-container {
    padding-left: 121px; } }

@media (max-width: 1289px) {
  .articles-tab-container, .gallery-tab-container, .video-tab-container {
    padding-left: 86px; } }

@media (max-width: 1227px) {
  .articles-tab-container, .gallery-tab-container, .video-tab-container {
    padding-left: 65px; } }

@media (max-width: 1111px) {
  .articles-tab-container, .gallery-tab-container, .video-tab-container {
    padding-left: 141px; } }

@media (max-width: 1111px) {
  .articles-tab-container, .gallery-tab-container, .video-tab-container {
    padding-left: 117px; } }

@media (max-width: 976px) {
  .articles-tab-container, .gallery-tab-container, .video-tab-container {
    padding-left: 86px; } }

@media (max-width: 956px) {
  .articles-tab-container, .gallery-tab-container, .video-tab-container {
    padding-left: 74px; } }

@media (max-width: 925px) {
  .schedule-part-container {
    margin-top: 30px !important;
    margin-bottom: 40px !important; } }

@media (max-width: 903px) {
  .schedule-part .schedule-part-container .schedule-title {
    font-size: 41px; }
  .articles-tab-container, .gallery-tab-container, .video-tab-container {
    padding-left: 0;
    justify-content: center; }
  .articles-tab-item, .video-tab-item, .gallery-tab-item {
    width: 324px; } }

@media (max-width: 1490px) {
  .schedule-part .schedule-part-container {
    margin-right: 30px; } }
