.gallery-container {
  max-width: 875px;
  width: 100%;
  margin: 150px auto 0 auto; }
  .gallery-container .gallery-subtitle {
    font-weight: 400;
    margin-top: 84px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #627C9F; }
  .gallery-container .gallery-title {
    font-weight: bold;
    font-size: 32px;
    padding-bottom: 40px;
    line-height: 48px;
    text-align: center;
    color: #000;
    margin-top: 24px; }
  .gallery-container .wrapper {
    max-width: 875px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
  .gallery-container .wrapper a {
    margin: 5px; }
  .gallery-container .gallery-share-subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 24px;
    text-align: center;
    color: #828282;
    padding-top: 60px; }
  .gallery-container .galery-soc-media {
    margin: 18px; }
  .gallery-container .gallery-socials {
    display: inline-block;
    margin-left: 37%; }
  .gallery-container .galery-social-item {
    padding: 18px;
    border: 1px solid #ccc; }

@media (max-width: 735px) {
  .gallery-container .gallery-socials {
    margin-left: 35%; } }

@media (max-width: 638px) {
  .gallery-container .gallery-socials {
    margin-left: 33%; } }

@media (max-width: 540px) {
  .gallery-container .gallery-socials {
    margin-left: 30%; } }

@media (max-width: 450px) {
  .gallery-container .gallery-socials {
    margin-left: 26%; } }

@media (max-width: 380px) {
  .gallery-container .gallery-socials {
    margin-left: 19%; } }

@media (max-width: 1550px) {
  .main-header-left .main-header-left-donation {
    margin-right: 30px !important; }
  .main-header-left {
    margin-right: 30px; }
  .main-header-left .main-header-left-donation {
    margin-right: 0px !important; } }
