.map-container {
  width: 100%;
  max-width: 1472px;
  margin: 190px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  position: relative; }

.map-container-info {
  background: #272626;
  position: absolute;
  z-index: 100;
  max-width: 446px;
  top: 40px; }

.main-icons-item:hover path {
  fill: #C19332; }

.main-header-left-online:hover span svg .triangle {
  fill: #fff; }

.main-header-left-online:hover span svg .nota {
  fill: #fff; }

.mapcontent-text {
  padding: 60px 54px 100px 54px; }
  .mapcontent-text .map-contact {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 400; }
  .mapcontent-text .map-content-line {
    width: 54px;
    background: transparent;
    border: 1px solid #C19332;
    float: right; }
  .mapcontent-text .map-content-location {
    display: flex; }

.map-container-location {
  margin-left: 258px;
  position: relative; }

.map-loc-container {
  margin-top: 48px; }

.open-maps {
  position: absolute;
  cursor: pointer;
  right: 80px;
  outline: none;
  bottom: 40px;
  border: none;
  background: transparent;
  border: 1px solid #C19332;
  padding: 11px 33px;
  line-height: 24px;
  border-radius: 40px;
  font-weight: bold;
  font-size: 15px;
  color: #C19332; }

.open-maps:hover {
  background: #C1922E;
  color: #fff; }

.map-photo {
  position: absolute;
  right: 60px;
  background-color: #fff;
  top: 40px; }

.map-photo-item {
  padding: 10px; }

.map {
  width: 100%;
  max-width: 1173px; }

.map-location {
  position: absolute;
  top: 50%;
  right: 46%; }

.map-location-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-top: 15px;
  color: #FFFFFF !important;
  text-decoration: none;
  -webkit-text-fill-color: #fff;
  -webkit-text-decoration-skip: none;
  font-weight: 500; }

.location-icon {
  padding: 22px; }

.contact-second {
  display: none;
  background-color: #272626; }
  .contact-second .map-contact2 {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    padding-left: 30px;
    padding-top: 30px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF; }
  .contact-second .map-content-line2 {
    width: 54px;
    margin-left: 30px;
    border: 1px solid #C19332; }
  .contact-second .map-loc-container2 {
    padding: 60px 30px 50px 20px; }
  .contact-second .map-content-location2 {
    display: flex;
    padding: 20px 0; }
  .contact-second .map-location-text2 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-left: 20px;
    max-width: 277px;
    line-height: 24px;
    color: #FFFFFF; }

.main-icons-item {
  margin-right: 29px !important; }

.bus-schedule {
  background-image: url(../img/icons/bg-ornament.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
  margin-top: 40px; }
  .bus-schedule .bus-schedule-container {
    display: flex;
    justify-content: space-between;
    max-width: 1474px;
    margin: 0 auto; }
    .bus-schedule .bus-schedule-container .bus-schedule-left {
      margin-right: 133px; }
    .bus-schedule .bus-schedule-container .bus-schedule-left-title {
      font-weight: bold;
      font-size: 48px;
      line-height: 64px;
      color: #000000;
      max-width: 333px; }
    .bus-schedule .bus-schedule-container .bus-schedule-right-items {
      padding: 40px 36px;
      border: 1px solid #E0E0E0;
      width: 33%; }
    .bus-schedule .bus-schedule-container .bus-schedule-hr {
      width: 54px;
      border: 1px solid #C19332;
      margin-top: 20px; }
    .bus-schedule .bus-schedule-container .bus-schedule-left-text {
      font-weight: normal;
      font-size: 15px;
      line-height: 24px;
      color: #4F4F4F;
      max-width: 314px;
      margin-top: 32px; }
    .bus-schedule .bus-schedule-container .bus-right-item-time {
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      padding-right: 28px; }
    .bus-schedule .bus-schedule-container .bus-schedule-right {
      display: flex;
      flex-wrap: wrap; }
    .bus-schedule .bus-schedule-container .bus-right-title {
      font-weight: bold;
      font-size: 20px;
      line-height: 36px;
      text-transform: uppercase;
      color: #000000; }
    .bus-schedule .bus-schedule-container .bus-right-item {
      display: flex;
      margin-top: 22px; }
    .bus-schedule .bus-schedule-container .bus-right-item-img {
      padding: 0 15px 0 0; }

@media (max-width: 1199px) {
  .map-container-location {
    margin-left: 96px; } }

@media (max-width: 1498px) {
  .bus-schedule .bus-schedule-container .bus-schedule-left {
    margin-right: 109px;
    margin-left: 20px; } }

@media (max-width: 1330px) {
  .map {
    min-height: 530px; } }

@media (max-width: 1042px) {
  .bus-schedule .bus-schedule-container .bus-schedule-right-items {
    width: 50%; }
  .bus-schedule .bus-schedule-container .bus-schedule-left {
    margin-right: 50px; } }

@media (max-width: 942px) {
  .map-container-info {
    display: none; }
  .map-container-location {
    width: 100%;
    margin-left: 1px; }
  .map {
    height: auto;
    object-fit: cover; } }

@media (max-width: 940px) {
  .contact-second {
    display: block; } }

@media (max-width: 741px) {
  .bus-schedule .bus-schedule-container {
    flex-direction: column; }
  .bus-schedule .bus-schedule-container .bus-schedule-left {
    margin-bottom: 20px; } }

@media (max-width: 500px) {
  .bus-schedule .bus-schedule-container .bus-schedule-right-items {
    width: 100%; } }

@media (max-width: 573px) {
  .gallery-container .gallery-title {
    font-size: 29px; } }

.main-header-right .main-nav-list-item:first-child {
  padding-left: 0px !important; }

@media (max-width: 1776px) {
  .articles-tab-container, .gallery-tab-container, .video-tab-container {
    width: 97%;
    padding-left: 61px;
    margin-left: 0px; }
  .articles-tab-item, .video-tab-item, .gallery-tab-item {
    width: 300px; } }

@media (max-width: 1764px) {
  .articles-tab-container, .gallery-tab-container, .video-tab-container {
    padding-left: 118px; } }

@media (max-width: 1712px) {
  .articles-tab-container, .gallery-tab-container, .video-tab-container {
    padding-left: 102px; } }

@media (max-width: 1668px) {
  .articles-tab-container, .gallery-tab-container, .video-tab-container {
    padding-left: 80px; } }

@media (max-width: 1632px) {
  .articles-tab-container, .gallery-tab-container, .video-tab-container {
    padding-left: 60px; } }

@media (max-width: 1607px) {
  .articles-tab-item, .video-tab-item, .gallery-tab-item {
    width: 299px; } }

@media (max-width: 1601px) {
  .articles-tab-item, .video-tab-item, .gallery-tab-item {
    width: 276px; }
  .articles-tab-container, .gallery-tab-container, .video-tab-container {
    padding-left: 58px; } }

@media (max-width: 1587px) {
  .articles-tab-container, .gallery-tab-container, .video-tab-container {
    padding-left: 44px; } }
