.map-container{
  width: 100%;
  max-width: 1472px;
  margin: 190px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;

}
.map-container-info{
  background: #272626;
  position: absolute;
  z-index: 100;
  max-width: 446px;
top: 40px;
}
.main-icons-item:hover path{
  fill: #C19332;
}
.main-header-left-online:hover span svg .triangle{
  fill: #fff;
}
.main-header-left-online:hover span svg .nota{
  fill: #fff;
}
.mapcontent-text{
  padding: 60px 54px 100px 54px;
  .map-contact{
    font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 400;
  }
  .map-content-line{
    width: 54px;
    background: transparent;
 
    border: 1px solid #C19332;
    float: right;
  }
 
  .map-content-location{
    display: flex;
  }
}
.map-container-location{
  margin-left: 258px;
  position: relative;
}
.map-loc-container{
  margin-top: 48px;
}
.open-maps{
  position: absolute;
  right: 80px;
  outline: none;
  bottom: 40px;
  border: none;
  background: transparent;
  border: 1px solid #C19332;
  padding: 11px 33px;
  line-height: 24px;
  border-radius: 40px;
  font-weight: bold;
font-size: 15px;
color:#C19332;
}
.open-maps:hover{
  background: #C1922E;
  color: #fff;
}
.map-photo{
  position: absolute;
  right: 60px;
  background-color: #fff;
  top: 40px;
}
.map-photo-item{
  padding: 10px;
 
}
.map{
  width: 100%;
  max-width: 1173px;
}
.map-location{
  position: absolute;
  top: 50%;
  right: 46%;
}
.map-location-text{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-top: 15px;
  color: #FFFFFF !important;
  text-decoration: none;
  -webkit-text-fill-color: #fff;
  -webkit-text-decoration-skip: none;
  font-weight: 500;
}
.location-icon{
  padding: 22px;
}

.contact-second{
  display: none;
  background-color: #272626;
  .map-contact2{
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    padding-left: 30px;
    padding-top: 30px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .map-content-line2{
    width: 54px;
    margin-left: 30px;
    border: 1px solid #C19332;
  }
  .map-loc-container2{
    padding: 60px 30px 50px 20px;
  }
  .map-content-location2{
    display: flex;
    padding: 20px 0;
  }
  .map-location-text2{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-left: 20px;
    max-width: 277px;
    line-height: 24px;
    color: #FFFFFF;
  }
}
.main-icons-item{
  margin-right: 29px !important;
}
.bus-schedule{
  background-image: url(../img/icons/bg-ornament.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
    margin-top: 40px;
    .bus-schedule-container{
       display: flex;
       justify-content: space-between;
       max-width: 1474px;
       margin: 0 auto; 
       .bus-schedule-left{
           margin-right: 133px;
       }
      .bus-schedule-left-title{
        font-weight: bold;
        font-size: 48px;
        line-height: 64px;
        color: #000000; 
        max-width: 333px;
      } 
      .bus-schedule-right-items {
        padding: 40px 36px;
        border: 1px solid #E0E0E0;
        width: 33%;
      }
      // .bus-schedule-right-items:first-child{
      //   padding: 40px 104px 39px 36px;
      //   border: 1px solid #E0E0E0;
      // }
      // .bus-schedule-right-items:nth-child(2){
      //   padding: 40px 168px 86px 36px;
      //   border: 1px solid #E0E0E0;
      // }
      // .bus-schedule-right-items:nth-child(3){
      //   padding: 40px 147px 86px 36px;
      //   border: 1px solid #E0E0E0;
      // }
      // .bus-schedule-right-items:nth-child(4){
      //   padding: 40px 122px 40px 36px;
      //   border: 1px solid #E0E0E0;
      // }
      .bus-schedule-hr{
        width: 54px;
        border: 1px solid #C19332;
        margin-top: 20px;  
      }
      .bus-schedule-left-text{
        font-weight: normal;
        font-size: 15px;
        line-height: 24px;
        color: #4F4F4F; 
        max-width: 314px; 
        margin-top: 32px;
      }
      .bus-right-item-time{
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        padding-right: 28px;
      }
      .bus-schedule-right{
          display: flex;
          flex-wrap: wrap;

      }
      .bus-right-title{
        font-weight: bold;
        font-size: 20px;
        line-height: 36px;
        text-transform: uppercase;
        color: #000000; 
      }
      .bus-right-item{
          display: flex;
          margin-top: 22px;
      }
      .bus-right-item-img{
          padding: 0 15px 0 0;
      }
    }
  }
  @media(max-width: 1421px){
    // .bus-schedule .bus-schedule-container .bus-schedule-right-items:nth-child(3){
    //   padding: 40px 144px 86px 36px;
    // }
    // .bus-schedule .bus-schedule-container .bus-schedule-right-items:nth-child(2){
    //   padding: 40px 146px 86px 36px;
    // }
  }
  @media(max-width: 1199px){
    .map-container-location{
      margin-left: 96px;
    }
  }

  @media(max-width: 1498px){
    .bus-schedule .bus-schedule-container .bus-schedule-left{
      margin-right: 109px;
    margin-left: 20px;
    }
  }
  @media(max-width: 1330px){
    .map{
      min-height: 530px;
    }
   
  }
  @media(max-width: 1042px){
    .bus-schedule .bus-schedule-container .bus-schedule-right-items{
      width: 50%;
    }
    .bus-schedule .bus-schedule-container .bus-schedule-left {
      margin-right: 50px;
    }
    // .bus-schedule .bus-schedule-container .bus-schedule-right-items:first-child{
    //   padding: 40px 110px 39px 36px;
    // }
    // .bus-schedule .bus-schedule-container .bus-schedule-right-items:nth-child(2){
    //   padding: 40px 139px 86px 36px;
    // }
  }
  @media(max-width: 1010px){
    // .bus-schedule .bus-schedule-container .bus-schedule-right-items:first-child{
    //   padding: 40px 105px 39px 36px;
    // }
    // .bus-schedule .bus-schedule-container .bus-schedule-right-items:nth-child(3){
    //   padding: 40px 139px 86px 36px;
    // }
  }
  @media(max-width: 942px){
    .map-container-info{
      display: none;
    }
    .map-container-location{
      width: 100%;
      margin-left: 1px;
    }
    .map{
      height: auto;
      object-fit: cover;
    }
  }
  @media(max-width: 940px){
    .contact-second{
      display: block;
    }
  }
  @media(max-width: 741px){
    
    .bus-schedule .bus-schedule-container{
      flex-direction: column;
    }
    .bus-schedule .bus-schedule-container .bus-schedule-left{
      margin-bottom: 20px;
    }
  }
  @media(max-width: 342px){
    // .bus-schedule .bus-schedule-container .bus-schedule-right-items:first-child{
    //   padding: 40px 76px 39px 36px;
    // }
    // .bus-schedule .bus-schedule-container .bus-schedule-right-items:nth-child(2){
    //   padding: 40px 111px 86px 36px;
    // }
    // .bus-schedule .bus-schedule-container .bus-schedule-right-items:nth-child(3){
    //   padding: 40px 111px 86px 36px;
    // }
    // .bus-schedule .bus-schedule-container .bus-schedule-right-items:nth-child(4){
    //   padding: 40px 95px 40px 36px;
    // }
    
  }
  @media(max-width: 500px){
    .bus-schedule .bus-schedule-container .bus-schedule-right-items{
      width: 100%;
    }
  }
  @media(max-width: 573px){
    .gallery-container .gallery-title{
      font-size: 29px;
    }
  }
  .main-header-right .main-nav-list-item:first-child{
    padding-left: 0px !important;
  }
  @media(max-width: 1776px){
    .articles-tab-container, .gallery-tab-container, .video-tab-container{
      width: 97%;
      padding-left: 61px;
      margin-left: 0px;
    }
    .articles-tab-item, .video-tab-item, .gallery-tab-item{
      width: 300px;
      
    }
  }
  @media(max-width: 1764px){
    .articles-tab-container, .gallery-tab-container, .video-tab-container{
      padding-left: 118px;
    }
  }
  @media(max-width: 1712px){
    .articles-tab-container, .gallery-tab-container, .video-tab-container {
      padding-left: 102px;
  }
  }
  @media(max-width: 1668px){
    .articles-tab-container, .gallery-tab-container, .video-tab-container {
      padding-left: 80px;
  }
  }
  @media(max-width: 1632px){
    .articles-tab-container, .gallery-tab-container, .video-tab-container {
      padding-left: 60px;
  }
  }
  @media(max-width: 1607px){
    .articles-tab-item, .video-tab-item, .gallery-tab-item {
      width: 299px;
  }
  }
  @media(max-width: 1601px){
    .articles-tab-item, .video-tab-item, .gallery-tab-item {
      width: 276px;
  }
  .articles-tab-container, .gallery-tab-container, .video-tab-container {
    padding-left: 58px;
}
  }
  @media(max-width: 1587px){
    .articles-tab-container, .gallery-tab-container, .video-tab-container {
      padding-left: 44px;
  }
  }